<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CADisableMinimumFrameDurationOnPhone</key><true/>
<key>CFBundleDisplayName</key><string>LCSignLab</string>
<key>CFBundleDocumentTypes</key><array><dict><key>CFBundleTypeName</key><string>iOS App Archive</string><key>LSItemContentTypes</key><array><string>com.apple.itunes.ipa</string><string>public.archive</string></array><key>CFBundleTypeRole</key><string>Viewer</string></dict></array>
</dict></plist>
